<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<body>
<th:block th:fragment="appScripts">
  <script th:src="@{/js/app.js}" src="/js/app.js"></script>
  <script th:src="@{/js/core/loading.js}" src="/js/core/loading.js"></script>
  <script th:src="@{/js/core/auth-state.js}" src="/js/core/auth-state.js"></script>
  <script th:src="@{/js/core/trip-status.js}" src="/js/core/trip-status.js"></script>
  <script th:src="@{/js/core/support-chat-live.js}" src="/js/core/support-chat-live.js"></script>

  <!-- 이스터에그. 화면 동작에는 관여하지 않으므로 맨 뒤에 둔다. -->
  <script th:src="@{/js/core/console-greeting.js}" src="/js/core/console-greeting.js"></script>
</th:block>
</body>
</html>
